{% extends "task/list.html" %}

{% block body %}
{% if errors %}
<ul>
  {% for error in errors %}
  <li><font color=red>{{ error }}</font>
  {% endfor %}
</ul>
{% endif  %}

<form method="post">
  Enter new Task:
  <input type="text" name="task_text" value="{% if new_msg %}{{new_msg.task_text }}{% endif %}" />
  <input type="submit">
</form>
<p><a href="{% url action="list" %}">Back to Task list</a></p>
{% endblock %}
