<html>
  <head></head>
  <body>
    {% block body %}
    {% if tasks %}
      <h1>List of tasks</h1>
      <ul>
        {% for task in tasks %}
        <li>{{ task.task_text }}</li>
        {% endfor %}
      </ul>
      {% else %}
        <h1>Keine Tasks</h1>
      {% endif %}
      <p><a href="{% url action="create" %}">New Task</a></p>

      <p>&nbsp;</p>
      <form method="post" action="{% url action="goodbye" %}">
        Delete:
        <select name="task_id">
          {% for task in tasks %}
          <option value="{{ task.id }}">{{ task.task_text }}
          {% endfor %}
        </select>
        <input type="submit">
      </form>
      {% endblock %}
  </body>
</html>
