<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script>
      function listen_for_events(timestamp) {
        $.ajax("/task/pull/"+timestamp, {
          success:
            function(data, code, xhr) {
              for (var i=0; i<data.tasks.length; i++) {
                var msg = data.tasks[i].task_text;
                $("#task_list").append("<li>"+msg);
              }
              listen_for_events(data.timestamp);
            }
        });
      }
      $(document).ready(function() {
        listen_for_events({{ timestamp }});
      });
    </script>
  </head>
  <body>
    <ul id="task_list">
      {% for task in tasks %}
        <li>{{ task.task_text }}
      {% empty %}
        <li>No Tasks!
      {% endfor %}
    </ul>
  </body>
</html>
